body, main{
    background-color: rgb(112,112,182);
    font-family: 'Courier New', 'Courier', monospace;
}
div#messaggi {
    margin-bottom: 0px;
    height: 60vh;
    overflow-y: scroll;
}
.form-control, btn{
    margin: 0px;
}
div#testo div{
    height: 20vh;
    margin-bottom: 0px;
}
